<% layout('./layout/page.ejs') %>
  <body>


    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Счетчик: <%= counter %></p>    

    <% if(user) {%>
      <h3>Welcome to butterfly</h3>
    <% }else{ %>
      <h3>Don't have an account? Let's Sign Up</h3>
    <% } %>
      
  </body>
